<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170087168-1"></script>
    <script src="/javascripts/googleAnalytics.js" type="text/javascript"></script>

    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#c78e00"/>

    <title><%= html_head_title %></title>

    <!-- Bootstrap Core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/mtn/css/styles.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <script src="/javascripts/mustache.js" type="text/javascript"></script>
    <script src="/javascripts/jQuery.js"></script>
    <script src="/javascripts/utils.js"></script>

</head>

<body>
<div class="container-fluid" style="background-color:#f5bf00 ">
    <div class="header-div">
        <div class="container-fluid main">
            <div class="row justify-content-between header-padding">
                <div class="col-9 col-md-9">
                    <div class="row header_sub_container d-block d-md-none pt-3">
                        <div class="header_sub_container_text">
                        </div>
                    </div>
                </div>
                <div class="col-3 col-md-2 nopadding">
                    <div class="header-info pull-right">
                        <img class="header-logo" src="/images/logo-square.png"
                             srcset="/images/logo-square-2x.png 2x,/images/logo-square-2x.png 3x">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- page content -->
    <div class="page-content" style="margin-top: 0px;">
        <div class="main">
            <div class="container-fluid nopadding">
                <!-- Tab panes -->
                <div _ngcontent-c2="" class="row align-content-center">
                    <div _ngcontent-c2="" class="col-sm-12 col-md-12 col-lg-6 main-padding">
                        <span _ngcontent-c2="" class="header-text font-weight-bold">Mmmh! Something went wrong</span>
                        <div _ngcontent-c2="" class="line-break"></div>
                        <br _ngcontent-c2=""><span _ngcontent-c2="" class="notification"><%= result %></span>
                        <div _ngcontent-c2="" class="row large_screen">

                        </div>
                    </div>
                    <div _ngcontent-c2="" class="col-sm-12 col-md-12 col-lg-1"></div>
                    <div _ngcontent-c2="" class="col-sm-12 col-md-12 col-lg-5 bottom_div padding-right">
                        <com-button _ngcontent-c2="" class="small_screen" type="primary-white-pad" _nghost-c3="">

                        </com-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap Core JavaScript -->
<script src="/bootstrap/js/bootstrap.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="/vendor/metisMenu/metisMenu.min.js"></script>
<script src="/javascripts/sb-admin-2.js"></script>

</body>
</html>