<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Mascom - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/js/DataTables/css/dataTables.bootstrap4.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css"/>


  <!-- JQuery -->
  <script type="text/javascript" src="/javascripts/jQuery.js"></script>

  <!--Data Table-->
  <script type="text/javascript" src="/js/DataTables/js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="/js/DataTables/js/dataTables.bootstrap4.min.js"></script>
  <script type="text/javascript" src="/js/DataTables/js/jszip.min.js"></script>
  <script type="text/javascript" src="/js/DataTables/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="/js/DataTables/js/buttons.flash.min.js"></script>
  <script type="text/javascript" src="/js/DataTables/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="/js/DataTables/js/buttons.html5.min.js"></script>

  <script type="text/javascript" src="/javascripts/utils.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

  <style>
    .page-item.active .page-link {
      background-color: #fbe122 !important;
      border: 1px solid black;
      color: black;
    }
    .page-link {
      color: black !important;
    }
  </style>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-dark accordion" style="background-color: #fbe122" id="accordionSidebar">

      <!-- Sidebar - Brand -->

        <div class="sidebar-brand-icon" >
          <a href="/vtop/"><img class="img-responsive m-1" src="/images/logo.jpg"/>
          </a>
        </div>

      <!-- Divider -->
      <hr class="sidebar-divider sidebar-dark my-2">

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span style="color: black; font">My Menu</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <%- user_menus %>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">


    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>


            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Hey <%= first_name %></span>
                <img class="img-profile rounded-circle" src="/images/download.png">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#ModalChangePasswordModal">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Change Password
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="m-1">

          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

              <!-- Nav Item - Search Dropdown (Visible Only XS) -->
              <div class="topbar-divider d-none d-sm-block"></div>

              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="form-group">
                    <input type="text" class="form-control form-control-user" name="date" id="dateFrom" aria-describedby="usernameHelp" placeholder="Date">
                  </div>
                </a>
                <!-- Dropdown - User Information -->
              </li>

              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="form-group">
                    <input type="text" class="form-control form-control-user" name="dateTo" id="dateTo" aria-describedby="usernameHelp" placeholder="Date">
                  </div>
                </a>
                <!-- Dropdown - User Information -->
              </li>

              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" >
                  <div class="form-group">
                    <input type="button" required class="form-control form-control-user" name="btn-filter" id="btn-filter"  value="Filter">
                  </div>
                </a>
                <!-- Dropdown - User Information -->
              </li>
            </ul>

          </nav>
          <!-- Content Row -->

          <div class="row">

            <!-- Pie Chart -->
            <div class="col-xl-6 col-lg-6 bg-dark">
              <div class="row m-1 border-0">
                <div class="col">
                  <h6 class="font-weight-bold text-white bg-dark text-center">M'Booste Top Ups </h6>
                </div>
              </div>
              <div class="row m-1 border-0">
                <div class="col font-weight-bold text-center" style="background-color: #fbe122; color: white" id="float_topups"> </div>
              </div>
              <div class="row m-1 border-0">
                <div class="col">
                  <h6 class="font-weight-bold text-white bg-dark text-center">Current M'Booste Float Balance (Pula) </h6>
                </div>
              </div>
              <div class="row m-1 border-0">
                <div class="col font-weight-bold text-center" style="background-color: #fbe122; color: white" id="current_float"> </div>
              </div>
              <div class="card shadow mb-4 border-0 bg-white">
                <!-- Card Header - Dropdown -->
                <div class="card-header  border-0 py-3 d-flex flex-row align-items-center justify-content-between bg-dark">

                </div>
                <!-- Card Body -->
                <div class="card-body bg-white">
                  <div class="chart-pie pt-4 pb-2 border-0 bg-white" id="myChartDiv">

                  </div>
                  <div class="mt-4 text-center small">

                  </div>
                </div>
              </div>
            </div>

            <!-- Area Chart -->
            <div class="col-xl-6 col-lg-6 bg-dark">
              <div class="card shadow mb-4 border-0 bg-dark">
                <!-- Card Header - Dropdown -->
                <div class="card-header border-0 py-3 d-flex flex-row align-items-center justify-content-between bg-dark">
                  <h6 class="m-0 font-weight-bold text-white bg-dark "> M'Booste Float Recycles (Per day) </h6>
                </div>
                <!-- Card Body -->
                <div class="card-body bg-dark">
                  <div class="chart-area bg-dark" id="id-float-recycles">
                    <canvas id="floatRecycles"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col mb-6 bg-white">
              <div class="card shadow border-0 mb-4 white">
                <div class="card-header border-0 py-3 bg-white align-content-center">
                  <h6 class="m-0 font-weight-bold text-black-50" style="text-align:center; font-size: large">M'Booste Float Topups</h6>
                </div>
                <div class="card-body">
                  <div class="table-responsive" id="floatTopUps">
                    <table id="id-floatTopUps" class="table table-striped table-bordered" style="width:100%">
                      <thead>
                      <tr>
                        <th>TopUp Date</th>
                        <th>Reference No</th>
                        <th>Amount</th>
                        <th>Topup Type</th>
                      </tr>
                      </thead>
                      <tfoot>
                      <tr>
                        <th>TopUp Date</th>
                        <th>Reference No</th>
                        <th>Amount</th>
                        <th>Topup Type</th>
                      </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Please confirm logout? </h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/vtop/login">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <! -- Change Password Modal -->

  <div id="ModalChangePasswordModal" class="modal fade">
    <form role="form" id="change-password-form" method="POST" action="/vtop/change_password">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #fbe122; color: black;">
            <h3 class="modal-title" >Change my password</h3>
          </div>
          <div class="modal-body">

            <input type="hidden" id="user_id" name="user_id" value="<%- user_id %>">

            <div class="form-group">
              <label class="control-label">Old Password</label>
              <div>
                <input type="password" class="form-control input-lg" id="oldPassword" name="oldpassword" required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label">New Password</label>
              <div>
                <input type="password" class="form-control input-lg" id="password" name="newpassword" required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label">Confirm New Password</label>
              <div>
                <input type="password" class="form-control input-lg" id="password_confirmation" name="password_confirmation" required>
                <span id='message'></span>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <div>
              <button id="btn-update" type="submit" class="btn"  style="background-color: #fbe122; color: black">
                Submit
              </button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </form>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/js/chart-bar.js"></script>
  <script src="/js/jscharting/dist/jscharting.js"></script>
  <script type="text/javascript" src="/js/jscharting/dist/modules/types.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

</body>

</html>
