<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>VTop Admin - Login</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="">

  <div class="container container-fluid">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col6">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row ">
              <div class="col">
                <div class="p-5">
                  <div class="text-center " style="background-color: #fbe122">
                    <img class="img-responsive my-3" src="/images/logo.jpg"/>
                  </div>
                  <div class="warning">
                    <label class="warning"  ><%= error_msg %></label>
                  </div>
                  <form class="form-signin" action="/vtop/login" method="post">
                    <div class="form-group">
                      <input type="text" required class="form-control form-control-user" name="username" id="username" aria-describedby="usernameHelp" placeholder="Enter username">
                    </div>
                    <div class="form-group">
                      <input type="password" required class="form-control form-control-user" name="password" id="password" placeholder="Enter Password">
                    </div>
                    <div class="form-group">
                      <!--<div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Remember Me</label>
                      </div> -->
                    </div>
                    <button style="background-color: #fbe122; color: black" type="submit" class="btn btn-primary btn-user btn-block">
                      Login
                    </button>
                  </form>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

</body>

</html>
