<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mascom - Users</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/js/DataTables/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css"/>


    <!-- JQuery -->
    <script type="text/javascript" src="/javascripts/jQuery.js"></script>

    <!--Data Table-->
    <script type="text/javascript" src="/js/DataTables/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/js/DataTables/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="/js/DataTables/js/jszip.min.js"></script>
    <script type="text/javascript" src="/js/DataTables/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="/js/DataTables/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="/js/DataTables/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="/js/DataTables/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="/js/DataTables/js/dataTables.editor.min.js"></script>
    <script type="text/javascript" src="/js/DataTables/js/dataTables.select.min.js"></script>
    <style>
        .page-item.active .page-link {
            background-color: #fbe122 !important;
            border: 1px solid black;
            color: black;
        }
        .page-link {
            color: black !important;
        }
    </style>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-dark accordion" style="background-color: #fbe122" id="accordionSidebar">

        <!-- Sidebar - Brand -->

        <div class="sidebar-brand-icon" >
            <a href="/vtop/"><img class="img-responsive m-1" src="/images/logo.jpg"/>
            </a>
        </div>

        <!-- Divider -->
        <hr class="sidebar-divider sidebar-dark my-2">

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span style="color: black;">My Menu</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <%- user_menus %>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">


    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>


                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Hey <%= first_name %></span>
                            <img class="img-profile rounded-circle" src="/images/download.png">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="m-1">

                <!-- Content Row -->
                <div class="row">

                    <!-- Content Column -->
                    <div class="col mb-6 bg-white">
                        <div class="card shadow border-0 mb-4 white">
                            <div class="card-header border-0 py-3 align-content-center" style="background-color: #fbe122;">
                                <h6 class="m-0 font-weight-bold" style="color: black; text-align:center; font-size: large">VTop Users</h6>
                                <button type="button" class="btn" style="background-color: white; color: black;"  data-toggle="modal" data-target="#ModalNewUserForm">
                                    Add New User
                                </button>
                            </div>

                            <!-- Modal HTML Markup -->
                            <div id="ModalNewUserForm" class="modal fade">
                                <form role="form" method="POST" action="/vtop/add_user">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color: #fbe122; color: black;">
                                            <h3 class="modal-title">Add New User</h3>
                                        </div>
                                        <div class="modal-body">
                                                <input type="hidden" name="_token" value="">
                                                <div class="form-group">
                                                    <label class="control-label">Username</label>

                                                    <div>
                                                        <input type="text" class="form-control input-lg" name="username" value="" required>
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <label class="control-label">Password</label>
                                                    <div>
                                                        <input type="password" class="form-control input-lg" id="password" name="password" required>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label">Confirm Password</label>
                                                    <div>
                                                        <input type="password" class="form-control input-lg" id="password_confirmation" name="password_confirmation" required>
                                                        <span id='message'></span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label">First Name</label>
                                                    <div>
                                                        <input type="text" class="form-control input-lg" name="first_name" value="" required>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label">Middle Name</label>
                                                    <div>
                                                        <input type="text" class="form-control input-lg" name="middle_name" value="" required>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label">Last Name</label>
                                                    <div>
                                                        <input type="text" class="form-control input-lg" name="last_name" value="" required>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label">Roles</label>
                                                    <select class="custom-select" name="role">
                                                        <option value="0">Select Role</option>
                                                        <%- user_roles_options %>
                                                    </select>
                                                </div>
                                        </div>
                                        <div class="modal-footer">
                                            <div>
                                                <button type="submit" class="btn" style="background-color: #fbe122; color: black">
                                                    Create
                                                </button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                                </form>
                            </div><!-- /.modal -->

                            <!-- View User Details -->
                            <div id="ModalViewUserForm" class="modal fade">
                                <form role="form" method="POST" action="/vtop/update_user">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color: #fbe122; color: black;">
                                            <h3 class="modal-title" >User Details</h3>
                                        </div>
                                        <div class="modal-body">

                                                <input type="hidden" id="user_id" name="user_id" value="">
                                                <div class="form-group">
                                                    <label class="control-label">Username</label>
                                                    <div>
                                                        <input type="text" class="form-control input-lg" id="view_username" name="username" value="" disabled>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label">Password</label>
                                                    <div>
                                                        <input type="password" class="form-control input-lg" id="view_password" name="password" required>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label">First Name</label>
                                                    <div>
                                                        <input type="text" class="form-control input-lg" id="view_first_name"  name="first_name" value="" required>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label">Middle Name</label>
                                                    <div>
                                                        <input type="text" class="form-control input-lg" id="view_middle_name" name="middle_name" value="" >
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label">Last Name</label>
                                                    <div>
                                                        <input type="text" class="form-control input-lg" id="view_last_name" name="last_name" value="" required>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label">Roles</label>
                                                    <select class="custom-select" id="view_role" name="role">
                                                        <option selected>Select Role</option>
                                                        <%- user_roles_options %>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label">Status</label>
                                                    <select class="custom-select" id="user_status" name="user_status">
                                                        <option selected>Select Status</option>
                                                        <option value="1">Active</option>
                                                        <option value="2">Inactive</option>
                                                    </select>
                                                </div>

                                        </div>
                                        <div class="modal-footer">
                                            <div>
                                                <button type="submit" class="btn"  style="background-color: #fbe122; color: black">
                                                    Update
                                                </button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>

                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                                </form>
                            </div><!-- /.modal -->

                            <div class="card-body">

                                <div class="table-responsive" id="vtopUsers">
                                    <table id="id-vtop-users" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                        <tr>
                                            <th>User_id</th>
                                            <th>Role</th>
                                            <th>Username</th>
                                            <th>First Name</th>
                                            <th>Middle Name</th>
                                            <th>Last Name</th>
                                            <th>Create Date</th>
                                            <th>Last Login</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            <th>User_id</th>
                                            <th>Role</th>
                                            <th>Username</th>
                                            <th>First Name</th>
                                            <th>Middle Name</th>
                                            <th>Last Name</th>
                                            <th>Create Date</th>
                                            <th>Last Login</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Please confirm logout? </h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/vtop/login">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/chart-bar.js"></script>
<script src="/js/jscharting/dist/jscharting.js"></script>
<script type="text/javascript" src="/js/jscharting/dist/modules/types.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

<script>
    $(document).ready(function(){
        window.table = $('#id-vtop-users').DataTable ({
            "processing": true,
            "serverSide": true,
            "ajax": {
                url: '/vtop/get_users',
                type: 'GET'
            },
            "columns": [
                { "data": "user_id", "visible": false},
                { "data": "roles", "visible": false},
                { "data": "username"},
                { "data": "first_name" },
                { "data": "middle_name"},
                { "data": "last_name" },
                { "data": "create_date" },
                { "data": "last_login" },
                { "data": "status", render: function (data, type, row) {
                    var userStatus = '';
                    switch (data) {
                        case 1: userStatus = 'Active'; break;
                        case 2: userStatus = 'Inactive'; break;
                        default: userStatus = 'Unknown';
                    }

                    return userStatus;
                    }},
                { "data": "user_id", render: function ( data, type, row ) {
                        return '<a class="dropdown-item" href="#" >\n' +
                            '      <i class="fas fa-external-link-alt fa-sm fa-fw mr-2 text-gray-400"></i>\n' +
                            '      View' +
                            '   </a>';

                    }}]
        });

        $('#id-vtop-users tbody').on('click', 'tr', function () {
            var data = window.table.row( this ).data();

            // update modal
            $('#user_id').empty();
            $('#user_id').val(data.user_id);

            $('#view_username').empty();
            $('#view_username').val(data.username);

            $('#view_first_name').empty();
            $('#view_first_name').val(data.first_name);

            $('#view_middle_name').empty();
            $('#view_middle_name').val(data.middle_name);

            $('#view_last_name').empty();
            $('#view_last_name').val(data.last_name);

            //$('#view_role').empty();
            if (data.roles != null) {
                $('#view_role option[value=' + data.roles +']').prop('selected', true);
            }
            else {
                $('#view_role option[value=0]').prop('selected', true);
            }

            // status
            $('#user_status option[value=' + data.status +']').prop('selected', true);

            $("#ModalViewUserForm").modal()
        });

        // password validation
        $('#password_confirmation, #password').on('keyup', function () {
            if ($('#password').val() == $('#password_confirmation').val()) {
                $('#message').html('Passwords Match').css('color', 'green');

                // enable submit button
                $('#btn-update').enable();
            } else
                $('#message').html('Passwords do not Match').css('color', 'red');
        });

    })
</script>

</body>

</html>
